<head>
  <title>Users</title>
</head>

<body>
  <h2>Users:</h2>

  <div id="list-of-names">
    <ol>
      <% @names.each do |name| %>
        <li>
          <a href="<%=name%>"><%=name%></a>
        </li>
      <% end%>
    </ol>
  </div>

</body>

